<div class="cert-container" [id]="'education'">
    <h2>Formación</h2>
    <h4>Ver certificados</h4>
    <div class="flex-names">
        <p class="select-languaje" (click)="viewCert('todos')">Todos</p>
        <div class="languajes" *ngFor="let item of lenguajes">
            <p class="select-languaje" (click)="viewCert(item)">{{item | titlecase}}</p>
        </div>
    </div>
    <h3>{{lenguajeSeleccionado|titlecase}}</h3>
    <div class="cert-card" *ngFor="let cert of certificadosVisbles; let i = index">
        
        <div class="card" [routerLink]="'cert/'+ cert.archivo" [id]="'#'+cert.archivo">
            <h3>{{cert.titulo}}</h3>

            <img [src]="'../../assets/img/certificados/'+cert.archivo "
                [alt]="'../../assets/img/certificados/'+cert.archivo">
        </div>
    </div>
</div>