.cert-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;

  background-color: rgb(206, 206, 206);
  border-bottom: 46px solid rgba(116, 116, 116, 0.4);
  padding: 80px;
  color: #333;
}

h2 {
  font-size: 36px;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

h3 {
  height: 10%;
  /*  font-size: 12px; */
  font-weight: 800;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
  color: rgb(36, 36, 36);
  text-shadow: 0px 1px 2px rgb(173, 173, 173);
}

.flex-names{
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.card {
  cursor: pointer;
}

.title {
  padding: 3px;
  background-color: aqua;
}

.select-languaje{
  cursor: pointer;
  /* color: #222; */
  border: 1px solid rgb(128, 128, 128);
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  font-weight: 600;
  
  background-color: #c583e4;
  
  
  
}
.select-languaje:hover{
  background-color: rgba(170, 42, 255, 0.8);
box-shadow: #dddddd 1px 2px 5px;
border-radius: 6px;
}
.card-title {
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.cert-card {
  margin-top: 35px;
  /*  border: 1px solid rgba(170, 42, 255, 0.8); */
  /* margin: 20px; */
  width: 400px;
  min-width: 400px;
  height: 290px;
  box-shadow: 2px 2px 8px rgba(170, 42, 255, 0.8);
  box-shadow: 2px 2px 8px rgba(116, 116, 116, 0.8);
  cursor: pointer;
  background-color: rgba(170, 42, 255, 0.8);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 255px;
 width: 400px;
  box-shadow: 2px 2px 8px rgba(116, 116, 116, 0.8);

  background-size: cover;
}
