<div class="about-container">
    <div class="card-halo">
        <div class="card">
            <div class="img-container">
                <div class="card-img">
                </div>
            </div>
            <div class="data">
                <div class="yogui">
                    Hola Soy Ignacio
                </div>
                <h3> FullStack Developer </h3>
                <div class="do">
                  Me dedico al diseño, desarrollo e implementación de aplicaciones y sitios web.
                </div>
               <!--  <div class="me">
                    Apasionado del desarrollo de Sistemas y Sitios Web
                </div> -->
            </div>
        </div>
    </div>
</div>