<div class="nav no-imprimir">
    <app-navbar></app-navbar>
</div>
<div class="curri-container">

    <div class="back-print no-imprimir">
        <div class="print-container" (click)="printPage()">Imprimir<div class="logo-imprimir"></div>
        </div>
    </div>
    <div class="flex">
        <div class="div-contacto">
            <div class="contacto imprimir no-se-ve">
                <div class="me">
                    <div class='imprimir my-name'>Ignacio Mascali</div>
                </div>
                <p class="white"> Email: <br>
                    pantallaazul.com@gmail.com </p>
                <p class="white">Web: <br>
                    http://ignaciomascali.ml/</p>
                <p class="white">Linkedin: <br>
                    https://www.linkedin.com/in/ignacio-mascali</p>
                <p class="white"> Movil / Whatsapp: <br>
                    +54 (345)4130189 </p>


                <p class="white"> Argentina </p>



                <p class="white"> Conocimientos:
                    HTML, CSS, JS, Angular, Gonalang, PHP, C++, Java. </p>



            </div>
            <div class="back-text no-imprimir">
                <div class="texto imprimir">
                    <p>
                    <h3> Hola soy Ignacio </h3>
                    <p>
                        Soy un programador que desde los 5 años de edad me acerqué al mundo de la computación, cuando
                        aún
                        las
                        computadoras no
                        estaban muy masificadas. </p>
                    <p> Mi primer contacto fue con una computadora Sinclair CZ Spectrum que me había
                        prestado
                        mi tio.</p>
                    <p>Luego de eso, ya que mi madre era programadora, mis padres tuvieron una PC XT sin disco rígido.
                        Me
                        encontré
                        en
                        un mundo fascinante, preguntándome y generando hipótesis de cómo funcionaban las computadoras.
                    </p>
                    <p>A los 14 años ya tenia decidido que iba a estudiar Ingeniería en Sistemas en la UTN de la ciudad
                        de
                        Santa Fe
                        de
                        donde soy oriundo.</p>
                    <p> Pero lamentablemente unos meses antes de terminar la educación secundaria tuve la perdida de mi
                        padre,
                        lo
                        cual
                        me agarró con las defensas bajas. Realicé medio año de dicha carrera y en el estado de malestar
                        con
                        el
                        que me sentía, decidí ir a estudiar Psicología en la Universidad Nacional de Rosario, quedándome
                        con
                        unas
                        pocas
                        materias por rendir para recibirme.</p>
                    <p> En el año 2008 me radiqué en Concordia en donde durante 10 años me dediqué al servicio técnico
                        informático.</p>
                    <p> Luego de eso, volví a reencontrarme con lo que me apasiona que es la programación.
                        A principio de 2022 me recibí de la "Tecnicatura Universitaria en Prgramación" de la Universidad
                        Tecnológica
                        Nacional.</p>
                    <p>Actualmente estoy cursando la "Tecnicatura Universitaria en Desarrollo Web" en la Universidad
                        Nacional de
                        Entre Rios.</p>
                    <p> Tengo 4 años de haber empezado a conectarme con el desarrollo Frontend y empezando con el
                        desarrollo
                        Backend. Me encuentro siempre realizando cursos de perfeccionamiento relativos a esas 2
                        áreas.</p>
                    <p> Empecé programando con HTML, CSS, Javascript y actualmente estoy estoy aprovechando las ventajas
                        que
                        trae
                        Typescript con Angular, para lo que es el desarrollo frontend.
                        En el desarrollo de backend hace un tiempo que estoy desarrollando básicamente en Golang. Aunque
                        poseo
                        conocimientos básicos de PHP, Java y C++.</p>
                    <p class='imprimir no-se-ve'>
                        Le dejo un resumen de los cursos realizados en la siguiente hoja, esperando que se ajuste a su
                        búsqueda
                        laboral
                        y quedando a su disposición para una entrevista.</p>


                    <p class='imprimir no-se-ve'>
                        Sin otro saludo atentamente.
                        Ignacio Mascali.
                    </p>
                </div>
            </div>
        </div>

        <h3 class="exp-title">Experiencias laborales</h3>
        <div class="experiences">
            <div class="job" (click)="despligajob('job1')">
                Técnico reparador de PC y afines. 8 años en ServicePC.
                <div class="job-detail job-1 imprimir" [ngClass]="!job1?'no-se-ve':''">
                    <div class=""> Reparación de PC <br> Reparación de Impresoras <br> Configuración de redes <br>
                        Recargas de cartuchos</div>
                </div>
            </div>
            <div class="job" (click)="despligajob('job2')">
                Técnico reparador de PC y afines por por cuenta Propia. 2 años.
                <div class="job-detail job-2 imprimir"[ngClass]="!job2?'no-se-ve':''">
                    <div class=""> Reparación de PC <br> Reparación de Impresoras <br> Configuración de redes <br>
                        Recargas de cartuchos</div>
                </div>
            </div>
            <div class="job" (click)="despligajob('job3')">
                Desarrollador por cuenta propia. 1 año.
                <div class="job-detail job-3 imprimir "[ngClass]="!job3?'no-se-ve':''">Desarrollos Fontend: <br> HTML <br> CSS br Javascript <br>
                    Angular</div>
            </div>
            <div class="job actual" (click)="despligajob('job4')">
                Desarrollador en Finnegans. Actualmente trabajando.
                <div class="job-detail job-4 imprimir" [ngClass]="!job4?'no-se-ve':''">Desarrollos FullStack: <br> Angular <br> Golang</div>
            </div>

        </div>
        <div class="print-flex">
            <div class="education">
                <div class="blocky">
                    <h3 class='tec-title'>Estudios realizados</h3>
                    <div class="cert-tec">
                        <div class=" tecnico">
                            <h4> Título obtenido:
                                <br>
                                Tecnicatura Superior en Programación
                                <br>
                                Universidad Tecnológica Nacional.
                            </h4>
                            <div>Estudios finalizados:
                                <br>
                                Mayo 2022
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cert-cursos">
                    <div class="realizados ">
                        <h3>Cursos realizados</h3>
                        <div class="no-imprimir">Imprimir/No imprimir</div>
                    </div>
                    <div class="cert" *ngFor="let cert of certificados; let i = index; "
                        [ngClass]="cert.imprimir ? 'imprimir':'no-imprimir'">
                        <div class="block-cert" [ngClass]="cert.imprimir ? 'imprimir':'no-imprimir'">
                            <div class="certif ">
                                <h4>{{cert.titulo}} - {{cert.expedidaPor}} </h4>
                                <div>Año: {{cert.anio}}</div>
                            </div>
                            <div class="no-imprimir">
                                <input type="checkbox" [(ngModel)]="cert.imprimir" class="check">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>