<div class="nav-container">
    <a href="#header">
        <div class="me">
    <h3>Ignacio Mascali</h3>
</div>
    </a>
    <nav class="flex-items">
        <a href="#education">
            <div class="item">
                Formación
            </div>
        </a>
        <div class="item">
            Experiencia
        </div>
        <div class="item">
            Aptitudes
        </div>
        <!-- <div class="item">
    Cursos
</div> -->
<a href="#contact">
        <div class="item">
            Contacto
        </div>
    </a>
    </nav>
</div>