<div class="nav-container">
    <a href="#header">
        <div class="me">
    <h3>Ignacio Mascali</h3>
</div>
    </a>
    <nav class="flex-items">
        <a href="#education">
            <div class="item">
                Formación
            </div>
        </a>
        <a href="#resumen">
        <div class="item">
            Sobre mi
        </div>
        </a>
        <div class="item">
            Aptitudes
        </div>
<a href="#contact">
        <div class="item">
            Contacto
        </div>
    </a>
    </nav>
</div>
<app-progress-bar></app-progress-bar>

<div class="blur"></div>