<div class="experience-container" id="resumen">
    <h2>Sobre mi</h2>
    <div class="about-me-resume">
        <div class="escrito">
            <h3>Apasionado por la programación.</h3>
            <h3 class="subtitle">Me encanta plasmar en un desarrollo de software las ideas y necesidades de las
                personas.</h3>
            <div class="resumen">

                <p>Hace 4 años empecé con los primeros cursos de programación. La pandemia en mi caso ha venido con el
                    título de
                    Técnico Universitario en Programación. Siempre estoy en una busqueda constante por adquirir
                    conocimientos propios
                    de la programación, busqueda por el perfeccionamiento del contexto del área relativa a mi profesión,
                    como ser diseño,
                    experiencia de usuario, etc. y habilidades blandas, como autonomía y compañerismo </p>
            </div>
        </div>
  
            <div class="dream">
            
            </div>

    </div>
</div>
<div class="divisor"></div>