/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {

    scroll-behavior: smooth;
   /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
   para probar la diferencia con y sin scroll suavizado*/
}

body {
    --text-color: #222;
    --bkg-color: #fff;
    --btn-txt-color: white;
    --btn-bg-color: rgb(11, 88, 160);
    transition: all 0.5s;
  }
  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-color: rgb(20, 211, 195);
    color: #eee;
    transition: all 0.5s;
  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1,
  p {
    color: var(--text-color);
  }
  button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: var(--btn-txt-color);
    background-color: var(--btn-bg-color);
  }
  


h2 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    font-weight: 300;
  }